@tailwind base;
@tailwind components;
@tailwind utilities;


.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.2rem; /* Force two lines height, adjust as needed */
    line-height: 1.5rem; /* Set line height to match the font size */
  }